@model Tuple<List<_BlogList_Result>>
@{
	int iRow = 1;
	string? status = "";
}



@section Styles {
	<link href="/assets/css/custom.css" rel="stylesheet" />
}

<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800">Blog Listesi</h1>
	<div class="card shadow mb-4">
		<div class="card-header py-3 page-title-btn">
			<a href="/blog-create" class="btn btn-primary"><i class="fas fa-plus"></i> Blog Ekle</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				@if (Model.Item1.Count() > 0)
				{
					<table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
						<thead>
							<tr>
								<th>#</th>
								<th>Blog Adı</th>
								<th>Blog Resim</th>
								<th>Kategori</th>
								<th>Durum</th>
								<th>Oluşturma Tarihi</th>
								<th>İşlemler</th>
							</tr>
						</thead>
						<tbody>
							@foreach (var item in Model.Item1)
							{
								status = item.Status == true ? "checked" : "";
								<tr>
									<td>@iRow</td>
									<td>@item.BlogSubName</td>
									<td>Edinburgh</td>
									<td>@item.BlogCategorySubName</td>
									<td>
										<div class="form-check form-switch">
											<input class="form-check-input" type="checkbox" role="switch" onchange="blogStatus(@item.BlogID)" id="flexSwitchCheckChecked" @status>
										</div>
									</td>
									<td>@Convert.ToDateTime(item.RegisterDate).ToShortDateString()</td>
									<td>$320,800</td>
								</tr>
								iRow++;
							}
						</tbody>
					</table>
				}
				else
				{
					<div class="alert alert-danger">
						<p>Eklenmiş Blog Bulunamadı</p>
					</div>
				}
			</div>
		</div>
	</div>
</div>

@section scripts {



}