@model tblBlogMain

@{
	var blogContent = injectHelper.BlogContent(Model.BlogID);
}

@section Styles {
	<link href="/assets/css/custom.css?v=2" rel="stylesheet" />
}

<div class="container-fluid">
	<h1 class="h3 mb-4 text-gray-800">Blog Oluşturma</h1>
	<div class="card shadow mb-4">
		<div class="card-header py-3 page-title-btn">
			<a href="/blogs" class="btn btn-primary"><i class="fas fa-undo-alt"></i> Geri Dön</a>
		</div>
		<div class="card-body">
			<form action="javascript:postCreate(@Model.BlogID)" method="post" autocomplete="off">
				<div class="row mt-3">
					<div class="col-2">
						<label for="blogName" class="col-form-label">Blog Adı</label>
					</div>
					<div class="col-10">
						<input type="text" id="blogName" class="form-control" aria-describedby="Blog Adı" maxlength="250" value="@Model.BlogName" required>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="blogCategory" class="col-form-label">Blog Kategori</label>
					</div>
					<div class="col-10">
						<select class="form-control" id="blogCategory">
							<option value="0">Blog Kategori Seç</option>
							<option value="1">Sağlık</option>
							<option value="2">Spor</option>
						</select>
					</div>
				</div>
				<div class="form-content-title"><h5 class="font-bold">Blog Content</h5></div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="blogSubName" class="col-form-label">Blog Adı</label>
					</div>
					<div class="col-10">
						<input type="text" id="blogSubName" class="form-control" aria-describedby="Blog Adı" maxlength="250" value="@blogContent.BlogSubName" required>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="shortText" class="col-form-label">Blog Kısa Açıklama</label>
					</div>
					<div class="col-10">
						<textarea type="text" id="shortText" class="form-control" aria-describedby="Blog Kısa Açıklama" maxlength="1000" required>@Html.Raw(blogContent.ShortText)</textarea>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="shortText" class="col-form-label">Blog Açıklama</label>
					</div>
					<div class="col-10">
						<textarea name="ckeditor" id="blogContent" aria-describedby="Blog Açıklama" required>@blogContent.BlogContent</textarea>
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="title" class="col-form-label">Title</label>
					</div>
					<div class="col-10">
						<input type="text" id="title" class="form-control" aria-describedby="Title" maxlength="250" value="@blogContent.Title" required />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="description" class="col-form-label">Description</label>
					</div>
					<div class="col-10">
						<input type="text" id="description" class="form-control" aria-describedby="Description" maxlength="250" value="@blogContent.Description" required />
					</div>
				</div>
				<div class="row mt-3">
					<div class="col-2">
						<label for="url" class="col-form-label">Url</label>
					</div>
					<div class="col-10">
						<input type="text" id="url" class="form-control" aria-describedby="Url" maxlength="250" value="@blogContent.Url" required disabled />
					</div>
				</div>
				<div class="row">
					<div class="col-12">
						<div class="form-submit-btn">
							<button type="submit" class="btn btn-success">Güncelle</button>
						</div>
					</div>
				</div>
			</form>
		</div>
	</div>
</div>

@section scripts {

	<script src='https://cdn.ckeditor.com/4.12.1/standard-all/ckeditor.js'></script>
	<script src="/assets/js/ckeditor.js"></script>

	<script>
		$(document).ready(function () {
			$('#blogSubName').on('input', function () {
				$("#url").val($(this).val());
			});
		});


		function postCreate(blogID) {
			let blogName = $("#blogName").val();
			let blogCategory = $("#blogCategory").val();
			let blogSubName = $("#blogSubName").val();
			let shortText = $("#shortText").val();
			let blogContent = $("#blogContent").val();
			let title = $("#title").val();
			let description = $("#description").val();
			let url = $("#url").val();

			if (blogCategory == 0) {
				return swal(
					'Hata!',
					'<b style="color:red;">Kategori Boş Geçemezsiniz!!!</b>',
					'error'
				);
			}

			let postData = {
				blogID: blogID,
				blogName: blogName,
				blogCategoryID: blogCategory,
				blogSubName: blogSubName,
				shortText: shortText,
				blogContent: blogContent,
				title: title,
				description: description,
				url: url
			}
			
			$.ajax({
				type: "POST",
				url: "/blog-update",
				data: postData,
				datatype: "html",
				success: function (data) {
					if (data.includes("___")) {
						swal(
							'İşlem Durumu',
							'İşlem <b style="color:green;">Başarılı</b> ',
							'success'
						)
						setTimeout(function () {
							window.location.href = '/blogs';
						}, 2000);
					} else {
						swal(
							'İşlem Durumu!',
							'İşlem  <b style="color:red;">Başarısız</b> ',
							'error'
						)
					}
				},
				error: function () {

				}
			});
		}

	</script>
}